@model ezCloth.DTOs.LoginDto

<div class="container mt-5">
    <a href="D:\My_Files\SofwareCareerPath\Dotnet Development\ezCloth\Areas\Admin\Controllers\UserAccountController.cs">D:\My_Files\SofwareCareerPath\Dotnet Development\ezCloth\Areas\Admin\Controllers\UserAccountController.cs</a>
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Login</h1>
            <a href="D:\My_Files\SofwareCareerPath\Dotnet Development\ezCloth\Areas\Admin\Controllers\UserAccountController.cs">D:\My_Files\SofwareCareerPath\Dotnet Development\ezCloth\Areas\Admin\Controllers\UserAccountController.cs</a>

            <form method="post">
                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.Email">Email Address</label>
                    <input type="text" asp-for="@Model.Email" class="form-control" />
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.Password">Password</label>
                    <input type="password" asp-for="@Model.Password" class="form-control" />
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary" asp-controller="UserAccount" asp-action="Login">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>